body{
    background-color: rgb(249, 250, 250);
}
button{
    background-color: white;
    border: 1px solid #0a8cf7;
    height: 50px;
    width: 250px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:#0a8cf7 ;
    margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   
    
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
h1{
    text-align: center;
     color: rgb(27, 18, 49); 
     font-size: 30px;
}
p{
    text-align: center;
     color: rgb(120, 114, 139); 
     font-size: 22px; 
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}